.formStyling {
  display: flex;
  flex-direction: column;

  input:last-child {
    padding: 1vw 2vw;
    width: 20%;
    margin: auto;
    display: block;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 10px;

    &:hover {
      background-color: red;
      transition: 0.3s ease-in-out;
    }
  }
}
